.burger {
  min-width: 320px;
  color: $textBlack;
  background: $bgIconColor;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  font-size: 16px;
  position: absolute;
  transition: all 0.3s;
  z-index: 2;
  transform: translateX(-320px);
  @media (min-width: 1360px) {
    transform: translateX(0px);
  }

  &__header--position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    @media (min-height: 810px) {
      padding: 24px;
    }
  }

  &__button-cross {
    width: 40px;
    height: 40px;
    background-image: url('../img/burgerX.svg');
    background-repeat: no-repeat;
    @media (min-width: 1360px) {
      display: none;
    }
  }

  &__button--grayscale {
    filter: grayscale(76%);
    -webkit-filter: grayscale(76%);
    -moz-filter: grayscale(76%);
    transition: filter 0.3s;
  }
  &__button--grayscale:focus,
  &__button--grayscale:active,
  &__button--grayscale:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  }

  &__button--search {
    width: 40px;
    height: 40px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
  }

  &__item {
    padding: 8px 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: $textBlack;
    transition: color 0.3s;
    &::before {
      content: '';
      display: inline-block;
      height: 32px;
      width: 4px;
      margin-right: 20px;
      background-color: transparent;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      transition: background-color 0.3s;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-height: 810px) {
      margin: 10px 0;
    }
  }
  &__item:active,
  &__item:focus,
  &__item:hover {
    &::before {
      background-color: #41f6d7;
    }
    color: $textLite;
  }

  &__footer--position {
    padding: 24px;
  }

  &__button-tel {
    width: 40px;
    height: 40px;
    background-image: url('../img/tel.svg');
    background-repeat: no-repeat;
  }

  &__button--position {
    margin-right: 16px;
    &:last-child {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }

  &__button-chat {
    width: 40px;
    height: 40px;
    background-image: url('../img/chat.svg');
    background-repeat: no-repeat;
  }

  &__button-profile {
    width: 40px;
    height: 40px;
    background-image: url('../img/profile.svg');
    background-repeat: no-repeat;
  }

  &__mail {
    display: block;
    margin-bottom: 20px;
    color: $textBlack;
  }

  &__phone {
    font-family: 'TTLakes-Bold';
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    color: $textBlack;
  }

  &__button-lang {
    text-transform: uppercase;
    font-size: 16px;
  }

  &__button-lang--activ {
    color: $textLite;
  }
}
.burger--position {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
