.burger {
  min-width: 320px;
  color: #1b1c21;
  background: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  font-size: 16px;
  position: absolute;
  transition: all .3s;
  z-index: 2;
  transform: translateX(-320px);
  @media(min-width: 1360px){
    transform: translateX(0px);
    // transition: translateX .3s;
  }

  &__top {
  }

  // .burger__header

  &__header {
  }

  // .burger__header--position

  &__header--position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }

  // .burger__bottom-cross

  &__button-cross {
    width: 40px;
    height: 40px;
    background-image: url('../img/burgerX.svg');
    background-repeat: no-repeat;
    // display: none;
    @media(min-width: 1360px){
      display: none;
    }
  }

  // .burger__bottom--grayscale

  &__button--grayscale {
    filter: grayscale(76%);
    -webkit-filter: grayscale(76%);
    -moz-filter: grayscale(76%);
    transition: filter 0.3s;
  }
  &__button--grayscale:focus,
  &__button--grayscale:active,
  &__button--grayscale:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  }
  // .burger__bottom--search

  &__button--search {
    width: 40px;
    height: 40px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
  }

  // .burger__menu

  &__menu {
  }

  // .burger__list

  &__list {
  }

  // .burger__list--position

  &__list--position {
  }

  // .burger__item

  &__item {
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #1b1c21;
    transition: color 0.3s;
    &::before {
      content: '';
      display: inline-block;
      height: 32px;
      width: 4px;
      margin-right: 20px;
      background-color: transparent;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      transition: background-color 0.3s;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item:active,
  &__item:focus,
  &__item:hover {
    &::before {
      background-color: #41f6d7;
    }
    color: #7e7e82;
  }
  // .burger__footer

  &__footer {
  }

  // .burger__footer--position

  &__footer--position {
    padding: 24px;
  }

  // .burger__buttons

  &__buttons {
  }

  // .burger__buttom-tel

  &__button-tel {
    width: 40px;
    height: 40px;
    background-image: url('../img/tel.svg');
    background-repeat: no-repeat;
  }

  // .burger__buttom--position

  &__button--position {
    margin-right: 16px;
    &:last-child {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }

  // .burger__buttom-chat

  &__button-chat {
    width: 40px;
    height: 40px;
    background-image: url('../img/chat.svg');
    background-repeat: no-repeat;
  }

  // .burger__buttom-profile

  &__button-profile {
    width: 40px;
    height: 40px;
    background-image: url('../img/profile.svg');
    background-repeat: no-repeat;
  }

  // .burger__mail

  &__mail {
    display: block;
    margin-bottom: 20px;
    color: #1b1c21;
  }

  // .burger__phone

  &__phone {
    font-family: 'TTLakes-Bold';
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    color: #1b1c21;
  }

  // .burger__lang

  &__lang {
  }

  // .burger__button-lang

  &__button-lang {
    text-transform: uppercase;
    font-size: 16px;
  }

  // .burger__button-lang--activ

  &__button-lang--activ {
    color: #7e7e82;
  }
}
.burger--position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
