.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
.description {
  margin: 0 15px;


  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__text-wrap {
    @media (min-width: 768px) {
      flex: 0 1 49%;
    }
  }

  &__text {
    font-family: 'TTLakes-Regular';
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $textBlack;
  }

  &__button {
    color: $textBlack;
    line-height: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    margin: 20px;
    &::before {
      content: url(../img/expand.svg);
    }
  }

  &__img {
    padding-left: 0px;

    @media (min-width: 768px) {
      flex: 0 1 49%;
      padding-left: 10px;
    }
  }
  &__img img {
    width: 100%;
    display: block;
  }
}
