.swiper-technique {
  &__wrapper {
    height: 210px;
    @media (min-width: 768px) {
      flex-wrap: wrap;
      height: 183px;
      &.click {
        height: 100%;
      }
    }
  }

  &__slide {
    margin: 10px;
    & a {
      color: $textBlack;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      display: block;
      background-color: $bgIconColor;
      background-image: url('../img/go.svg');
      background-repeat: no-repeat;
      width: 220px;
      height: 140px;
      background-position: 100% 100%;
      border: 10px solid $bgIconColor;
    }
  }

  &__show {
    display: none;
    color: #1b1c21;
    font-size: 16px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    &::before {
      content: url(../img/expand.svg);
    }
    @media (min-width: 768px) {
      display: flex;
    }
  }
}

.swiper-pagination {
  @media (min-width: 768px) {
    display: none;
  }
}
.click.swiper-technique__show::before {
  transform: rotate(180deg);
}
