.swiper-service {
  &__wrapper {
    height: 260px;
    @media (min-width: 768px) {
      height: 100%;
      display: block;
    }
  }

  &__slide {
    color: $textBlack;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    & p {
      margin: 5px 0px 10px 0px;
    }

    & p:nth-child(2) {
      @media (min-width: 768px) {
        flex-basis: 55%;
      }
    }
    & p:nth-child(4) {
      @media (min-width: 768px) {
        flex-basis: 15%;
      }
    }
    & p:nth-child(6) {
      @media (min-width: 768px) {
        flex-basis: 30%;
      }
    }

    height: 180px;
    @media (min-width: 768px) {
      display: flex;
      height: auto;
      align-items: center;
      margin: 0px;
      border-bottom: 1px solid $formColor;
    }
    &:last-child {
      border-bottom: none;
    }
    background-color: $bgIconColor;
    margin: 10px;
    border: 10px solid $bgIconColor;
    & span {
      color: $textLite;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  &__slide--table {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      background-color: transparent;
      color: $textLite;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      padding: 10px;
      border: none;
      & p:nth-child(1) {
        flex-basis: 55%;
      }
      & p:nth-child(2) {
        flex-basis: 15%;
      }
      & p:nth-child(3) {
        flex-basis: 30%;
      }
    }
  }
  &__text {
    max-width: 430px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 10px;
  }
  &__get {
    padding: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: url(../img/Line.svg);
      padding-left: 10px;
      padding-top: 4px;
    }
  }
}
.swiper-service__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 119px;
  height: 32px;
  background-color: $bgButtonColor;
  border-radius: 15px;
  color: $buttonColor;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
  letter-spacing: -0.15px;
  text-transform: uppercase;
  margin-right: 20px;
  &::after {
    content: url(../img/dropdown.svg);
  }
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
