.swiper {
  // .swiper__title

  &__title {
  }
}
.swiper-service {
  // .swiper-service__wrapper

  &__wrapper {
    // display: block;
    height: 260px;
    @media (min-width: 768px) {
      height: 100%;
      display: block;
    }
  }

  // .swiper-service__slide

  &__slide {
    & p {
      margin: 5px 0px 10px 0px;
    }

    & p:nth-child(2) {
      @media (min-width: 768px) {
        flex-basis: 55%;
        // color: red;
      }
    }
    & p:nth-child(4) {
      @media (min-width: 768px) {
        // color: green;
        flex-basis: 15%;
      }
    }
    & p:nth-child(6) {
      @media (min-width: 768px) {
        // color: blue;
        flex-basis: 30%;
      }
    }

    height: 180px;
    @media (min-width: 768px) {
      display: flex;
      height: auto;
      align-items: center;
      margin: 0px;
      border-bottom: 1px solid $formColor;
    }
    &:last-child{
      border-bottom: none;
    }
    background-color: $bgIconColor;
    margin: 10px;
    border: 10px solid $bgIconColor;
    & span {
      color: $textLite;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  &__slide--table {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      background-color: transparent;
      padding: 10px;
      border: none;
      & p:nth-child(1){
        flex-basis: 55%;
      }
      & p:nth-child(2){
        flex-basis: 15%;
      }
      & p:nth-child(3){
        flex-basis: 30%;
      }
    }
  }
  &__text {
    max-width: 430px;
    margin: 10px;
  }
  &__get {
    // margin-left: 32px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: url(../img/Line.svg);
      padding-left: 10px;
      padding-top: 4px;
    }
  }

  // .swiper-service__pagination

  &__pagination {
  }
}
.swiper-service__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 119px;
  height: 32px;
  background-color: $bgButtonColor;
  border-radius: 15px;
  color: $buttonColor;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 20px;
  &::after {
    content: url(../img/dropdown.svg);
  }
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
